body {
    font-family: sans-serif;
    background-color: #000;
}

#gallery {
    background-color: white;
    max-width: 1300px;
    margin: 20px auto 0;
    padding-top: 5px;
    height: calc(100% - 30px);
}

input {
    position: relative;
    display: block;
    margin: 35px auto 10px;
    padding: 15px;
    width: 460px;
    border-radius: 5px;
    border-color: lightgray;
}

#imageGallery {
    min-height: calc(100vh - 200px);
}

ul {
    list-style: none;
    margin: 0 auto;
	padding: 0;
	display: block;
    max-width: 1060px;
	text-align: center;
}

ul li {
	display: inline-block;
	padding: 10px;
	background:white;
	margin:20px;
}

ul li img {
    display: block;
}

a {
	text-decoration: none;
}

#footer {
   text-align: center;
   color: lightgrey;
   background-color: white;
   height: 50px;
}

/** Start Coding Here **/
#overlay{
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}

#overlay p {
  color: white;
}

#image {
  /*position: relative;*/
  margin-top: 80px;
  width: 800px;
}

#previous {
    /*color: red;*/
    /*font-size: x-large;*/
    position: absolute;
    width: 50px;
    top: 35%;
    left: 10%;
    cursor: pointer;
}

#next {
    /*color: red;
    font-size: x-large;*/
    position: absolute;
    width: 50px;
    top: 35%;
    right: 10%;
    cursor: pointer;    
}

















